* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
   
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    animation: headerLane 7s linear infinite alternate;
    background-position: 0px 70% !important;
    background-size: cover;
  }
  @keyframes headerLane {
    0% {
        background-color: black;
    }

    50% {
         background-color: rgb(12, 59, 36);
    }

    100% {
       background-color: rgb(2, 59, 59);
    }
}
  #game {
    display: flex;
    justify-content: center;
      font-size: 40px;
       margin: auto;
  }
  
  .main {
       width: 320px;
    height: 620px;
    /* margin: 0 auto ; */
    border: 10px solid silver;
    font-size: 0;
    position: relative;
  }
  #control{
  height: 150px;
  min-width: 180px;
    padding: 5px;
    /* border: red solid 1px */
  }
  .cell {
    width: 30px;
    height: 30px;
       border: 1px solid silver;
    display: inline-block;
  }
  .next-cell{
    width: 30px;
    height: 30px;
    
    display: inline-block;
    animation: nextLane 7s linear infinite alternate;
    background-position: 0px 70% !important;
    background-size: cover;
    }
    @keyframes nextLane{
      0% {
        border-color: black;
    }

    50% {
         border-color: rgb(12, 59, 36);
    }

    100% {
       border-color: rgb(2, 59, 59);
    }
    }
  .next-movingCell{
        border: 1px solid silver;
  }

  .movingCell {
    background-color: rgb(63, 63, 238);
  }
  
  .fixedCell {
    background-color: rgb(9, 95, 9);
  }
  
  #next-tetro {
    position: absolute;
    top: 50px;
    left: 22px;
 margin: 0 auto;
    font-size: 0;
        transform: translate(-50%, -50%);
        animation: rotate-move 5s cubic-bezier(.5,0,.5,1) infinite;
   
  }

  @keyframes rotate-move {
    15.6%, 17.6%, 48.9%, 50.9%, 82.2%, 84.2% {transform: translate(-50%, -50%) rotate(360deg)}
    0%, 32.3%, 34.3%, 65.6%, 67.6%, 99% {transform: translate(-50%, -50%) rotate(0)}
  } 
    #next-box{
      position: relative;
     
      width: 150px;
      height: 150px;
      margin: 30px;
      order: 1;
      flex-flow: row wrap;
    }
  #game-over {
    font-size: 100px;
    color: green;
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #btn-ghost{
    position: absolute;
    top: 78%;
    left: 56%;
        width: 150px;
    height: 150px;
    border-radius: 50%;
      background-color: azure;
    opacity: 60%;
    display: none;
  }
  .circle-ghost{
    position: absolute;
    top: 0;
    left: 63px;
    margin-left: -12.5px;
    width: 50px;
    height: 50px;
    
  }
  .input-ghost{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    font-size: 30px;
    text-align: center;
    border: none;
  }
  .table-block{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    margin-top: -40vh;
    margin-left: -40vw;
    background-color: bisque;
    border: solid black 1px;
    border-radius: 8px;
    text-align: center;
    
  }
  .table-blok h3{
    color: black;
    margin: 0 auto;
    font-size: 8vh;
  }
  .input-close{
position: absolute;
top: 12px;
right: 13px;
background-color: bisque;
border: none;
font-size: 20px;
transition-duration: .2s;
  }
  .input-close:hover{
    color: brown;
      }
      .all-storage{
        margin: 0 auto;
        color: black;
        text-align: left;
        margin-left: 32vw;
      }
      #start,
      #pause,
      #records{
        display: block;
        margin: 5px 0;
      }

  @media(max-width: 960px) {
.main{
  height: 98vh;
  width: 49.998vh;
  border: 1vh solid silver;
  font-size: 0;
  margin: 0 auto;
}.cell{
  height: 4.81vh;
  width: 4.8vh;
}
#next-box{
  width: 30%;
  /* border: blue solid 1px; */
   }
  .next-cell{
    height: 4.81vh;
  width: 4.8vh;
      }
      #control{
        font-size: 4vw;
      }
  }
  @media (max-width: 860px) {
    .main{
  width: 43vh;
height: 84vh;
font-size: 0;
}
.cell{
  height: 4.1vh;
  width: 4.1vh;
}
  }
  @media (max-width: 785px){
   .main{
     width: 44vh;
     height: 82vh;
   }
    .cell{
      height: 3.8vh;
      width: 3.8vh;
    }
  }
  @media(max-width: 725px){
    #game{
flex-flow: row wrap-reverse;
font-size: 25px;
    }
.main{
  width: 38.999vh;
height: 75.5vh;
font-size: 0;
}
.cell{
  width: 3.7vh;
  height: 3.7vh;
}
.next-cell{
  width: 3vh;
  height: 3vh;
    }
    #next-box{
      top:8px;
      left: -94px;
      order: 0;
      margin: 0 auto;
      height: 78px;
    }
    #btn-ghost{
      display: block;
    }
    .next-movingCell{
      width: 3vh;
      height: 3vh;
    }
    #control{
      width: 115px;
      height: 75px;
    }
    .circles li:nth-child(6) {
      left: 60%;
    }
    .circles{
      display: none;
      
      }
  }
  
*/
.circles{
  position: absolute; 
  top: -10px;
 left: 0; 
 width: 100%; 
  height: 100vh; 
  margin: 0;
 padding: 0;
 overflow: hidden;
}


.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: 0px;
    margin: 0;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 19vw;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}